
.curnumboxh{
	position: absolute;
	display: inline-block;
	float: left;
	width: 50%;
	left: 10%;
	top: 5%;
	color: #FFF;
	background-color: DarkGreen;
	text-align: center;
	font-size: 8vh;
}


.curnumbox{
	position: absolute;
	display: inline-block;
	float: left;
	width: 50%;
	height: 40%;
	left: 10%;
	top: 20%;
	background-color: #FFF;
	border-radius: 10px;
	overflow: hidden;
}

.curkey{
	position: relative;
	display: inline-block;
	height: 65%;
	width: 96%;
	margin: 2%; 
	padding: 0px;
	background-color: Yellow;
	color: Black;
	font-weight: bold;
	font-size: 26vh;
	text-align: center;
	clear: both;
}

.curkeyinv{
	position: relative;
	display: inline-block;
	height: 65%;
	width: 96%;
	margin: 2%; 
	padding: 0px;
	background-color: Green;
	color: White;
	font-weight: bold;
	font-size: 26vh;
	text-align: center;
	clear: both;
}

.curbox{
	position: relative;
	display: inline-block;
	height: 20%;
	width: 96%; 
	margin: 1% 2% 2% 2%;
	background-color: Blue;
	color: White;
	font-weight: bold;
	font-size: 7vh;
	text-align: center;
}

.curnumboxanth{
	position: absolute;
	display: inline-block;
	float: right;
	width: 25%;
	height: 60%;
	right: 10%;
	top: 5%;
	color: #FFF;
	font-size: 4vh;
	text-align: center;
}

.curnumboxant{
	position: absolute;
	display: inline-block;
	float: right;
	width: 20%;
	height: 60%;
	right: 10%;
	top: 15%;
	padding: 1%;
	background-color: #FFF;
	border-radius: 10px;
	overflow: hidden;
}

.curkeyant{
    margin-top: 2%;
	position: relative;
	display: inline-block;
	float: left;
	height: 22%;
	width: 68%;
	background-color: Yellow;
	color: Black;
	font-weight: bold;
	font-size: 10vh;
	text-align: center;
	clear: both;
}

.curboxant{
	margin-top: 2%;
	position: relative;
	display: inline-block;
	float:left;
	height: 22%;
	width: 28%; 
	background-color: Blue;
	color: White;
	font-weight: bold;
	font-size: 10vh;
	text-align: center;
}

.curkeyanth{
    margin-top: 1%;
	position: relative;
	display: inline-block;
	float: left;
	width: 68%;
	color: Black;
	font-weight: bold;
	font-size: 3vh;
	text-align: center;
	clear: both;
}

.curboxanth{
	margin-top: 1%;
	position: relative;
	display: inline-block;
	float:left;
	width: 28%; 
	color: Black;
	font-weight: bold;
	font-size: 3vh;
	text-align: center;
}

.curavtimebox{
	position: absolute;
	display: inline-block;
	bottom: 12%;
	left: 10%;
	width: 50%;
	height: 15%;
}

.curavtimebox img{
	position: relative;
	display: block;
	height: 100%;
	float: left;
}

.curavtimebox img path{
	fill: #FFFFF;
}

.estimtimeh{
	position: relative;
	display: block;
	float: left;
	margin-left: 5%;
	font-size: 4vh;
	color: #FFF;
}

.estimtime{
	position: relative;
	display: block;
	float: left;
	margin-left: 5%;
	font-size: 8vh;
	color: #FFF;
}

    .blink {
      animation: blink 1s steps(3, start) infinite;
      -webkit-animation: blink 1s steps(3, start) infinite;
    }
    @keyframes blink {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink {
      to {
        visibility: hidden;
      }
    }
